#accordion-filters .panel-title{
    font-size: 12px;
    font-weight: bold;
}

#accordion-filters .panel-body{
    font-size: 12px;
    font-weight: normal;
}

#accordion-filters .panel-heading{
    padding: 8px;
    background-color: #ffffff;
}

#accordion-filters input{
    width: 60px;
}

#button-container {
    vertical-align: bottom !important;
}

#button-container button{
    margin-top: 30px;
    margin-bottom: 12px;
    float: right;
    vertical-align: bottom;
}

#main-panel{
    padding: 10px;
}

#results-table tr {
    font-size: 12px;
}

#results-table td {
    vertical-align: middle;
    background-color: #ffffff;
}

.row {
    vertical-align: bottom;
}

.row h1{
    font-size:50px;
    font-weight: bolder;
}