#button-container {
    vertical-align: bottom !important;
}

#button-container button{
    float: left;
    vertical-align: bottom;
}

.details-info-title {
    font-size: 12px;
    font-weight: bold;
    text-align: right;
}

.details-info-content {
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    overflow-wrap:break-word;
}

#filters-panel{
    padding-top: 10px;
    padding-bottom: 10px;
}

#filters-panel label{
    font-size: 12px;
    font-weight: normal;
}

#filters-panel input{
    width: 60px;
}

.filter-div {
    float:right;
}

#header-title{
    align-items: center;
}

h1{
    font-size:50px;
    font-weight: bolder;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#img-beer {
    height: 200px;
    width: 70px;
}

#main-panel{
    padding: 10px;
    margin-top: 20px;
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
}

.modal-dialog {
    width: 75%;
    height: 70%;
}

#results-table tr {
    font-size: 12px;
}

#results-table td {
    vertical-align: middle;
    background-color: #ffffff;
}