<div class="panel panel-default" style="margin-top: 20px; max-width:1000px; margin-left:auto; margin-right:auto;">

    <div class="row">
        <div class="col-md-8">
            <h1>PUNK IPA</h1>
        </div>
        <div id='button-container' class="col-md-4">
            <button class="btn btn-primary btn-lg" ng-click="getBeers()">
            Get the Beers!
            </button>
        </div>
    </div>
    <uib-accordion id="accordion-filters">
        <div uib-accordion-group class="panel-default" ng-init="status = {isOpen: false}" is-open="status.isOpen">
            <uib-accordion-heading is-open="status.open">
                Search Filters
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isOpen, 'glyphicon-chevron-right': !status.isOpen}"></i>
            </uib-accordion-heading>
            <div>
                <label>Filter beers with ABV higher than:</label>
                <input type="number" min=0 ng-model="maxAbv">
                <label>and less than:</label>
                <input type="number" min=0 ng-model="minAbv">
            </div>
            <div>
                <label>Filter beers with IBU higher than:</label>
                <input type="number" min=0 ng-model="minIbu">
                <label> and less than:</label>
                <input type="number" min=0 ng-model="maxIbu" >
            </div>
        </div>
    </uib-accordion>

    <table id="results-table" ng-show="currentPageBeers.length" st-table="currentPageBeers" class="table table-striped">
        <thead>
        <tr>
            <th st-sort="id">ID</th>
            <th st-sort="name">Name</th>
            <th>ABV (%)</th>
            <th>IBU</th>
            <th>First day of Brewing</th>
            <th>Target FG</th>
            <th>Target OG</th>
            <th>EBC</th>
            <th>SRM</th>
            <th>PH</th>
            <th>Attenuation Level</th>
            <th/>
        </tr>
        </thead>

        <tr ng-repeat="x in currentPageBeers">
            <td>{{ x.id }}</td>
            <td>{{ x.name }}</td>
            <td>{{ x.abv }}</td>
            <td>{{ x.ibu }}</td>
            <td>{{ x.first_brewed }}</td>
            <td>{{ x.target_fg }}</td>
            <td>{{ x.target_og }}</td>
            <td>{{ x.ebc }}</td>
            <td>{{ x.srm }}</td>
            <td>{{ x.ph }}</td>
            <td>{{ x.attenuation_level }}</td>
              <td>
                <button class="btn btn-info btn-sm" ng-click="showDetails(x)">
                 Details
                </button>
              </td>
        </tr>
    </table>
</div>